body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
}


/* Bootstrap Overrides*/
.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: rgba(205, 40, 39, 0.55);
}

.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-brand {
    font-weight: 700;
}

body {
    font-size: 17px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    height: 44px;
    border-radius: 10px;
}


.btn {
    /*font-size: 17px;
    padding: 7px 20px;*/
    border-radius: 10px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

/*Page level styles*/

.gigs{
    list-style: none;
}

.gigs > li{
    position: relative;
    margin-bottom: 30px;
}

.gigs > li .date {
    background: red;
    color: white;
    text-align: center;
    width: 60px;
    border-radius: 8px;
}

.gigs > li .date .month{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 2px 5px;
}

.gigs > li .date .day {
    background: #e5d7d7;
    color: #0a0202;
    font-size: 20px;
    padding: 6px 12px;
}

.gigs > li .details{
    position:absolute;
    top: 0px;
    left: 70px;
    padding: 5px 15px;
}

.gigs > li .details .artist{
    font-weight: bold;
    display: block;
}

.gigs > li .details .genre {
    font-size: 14px;
}

.gigs > li .actions {
    font-size: 15px;
    display: none;
}

.gigs > li:hover .actions {
    display: block;
}